<h1>Eho register</h1>

 <section id="viewRegister">
     
            <h2>Login:</h2>
              <form action="/auth/login" method="post">
            <label>Username:<input type="text" name="username" value="{{body.username}}" </label>
            <label>Password:<input type="text" name="password"</label>
            <input type="submit" value="Login">
        </form>
        </section>