<h1>Register</h1>

 <section id="viewRegister">
     
            <h2>Create your account:</h2>
              <form action="/auth/register" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="{{body.username}}"<label for="password">Password</label>
            <input type="password" id="password" name="password" <label for="repeatPassword">Re-Password</label>
            <input type="password" id="repass" name="repass">
            <input type="submit" value="Register">
        </form>
        </section>